@-webkit-keyframes heart {

    0%,
    40%,
    80%,
    to {
        transform: scale(1)
    }

    20%,
    60% {
        transform: scale(1.15)
    }
}

@keyframes heart {

    0%,
    40%,
    80%,
    to {
        transform: scale(1)
    }

    20%,
    60% {
        transform: scale(1.15)
    }
}