# configuration of the physical interface and its subinterface
set / interface ethernet-1/49
set / interface ethernet-1/49 subinterface 0
set / interface ethernet-1/49 subinterface 0 ipv4
set / interface ethernet-1/49 subinterface 0 ipv4 address 192.168.31.1/30
set / interface ethernet-1/49 subinterface 0 ip-mtu 9000
set / interface ethernet-1/50
set / interface ethernet-1/50 subinterface 0
set / interface ethernet-1/50 subinterface 0 ipv4
set / interface ethernet-1/50 subinterface 0 ipv4 address 192.168.32.1/30
set / interface ethernet-1/50 subinterface 0 ip-mtu 9000

# downlink interfaces
set / interface ethernet-1/1
set / interface ethernet-1/1 description ES-1
set / interface ethernet-1/1 ethernet
set / interface ethernet-1/1 ethernet aggregate-id lag1
set / interface lag1
set / interface lag1 admin-state enable
set / interface lag1 subinterface 0
set / interface lag1 subinterface 0 type bridged
set / interface lag1 lag
set / interface lag1 lag lag-type lacp
set / interface lag1 lag member-speed 100G
set / interface lag1 lag lacp
set / interface lag1 lag lacp interval FAST
set / interface lag1 lag lacp system-id-mac 00:00:00:00:00:01

# system interface configuration
set / interface system0
set / interface system0 admin-state enable
set / interface system0 subinterface 0
set / interface system0 subinterface 0 ipv4
set / interface system0 subinterface 0 ipv4 address 10.0.0.3/32

# associating interfaces with net-ins default
set / network-instance default
set / network-instance default interface ethernet-1/49.0
set / network-instance default interface ethernet-1/50.0
set / network-instance default interface system0.0

# routing policy
set / routing-policy
set / routing-policy policy all
set / routing-policy policy all default-action
set / routing-policy policy all default-action accept

# BGP configuration
set / network-instance default protocols
set / network-instance default protocols bgp
set / network-instance default protocols bgp autonomous-system 103
set / network-instance default protocols bgp router-id 10.0.0.3
set / network-instance default protocols bgp group eBGP-underlay
set / network-instance default protocols bgp group eBGP-underlay export-policy all
set / network-instance default protocols bgp group eBGP-underlay import-policy all
set / network-instance default protocols bgp group eBGP-underlay peer-as 201
set / network-instance default protocols bgp ipv4-unicast
set / network-instance default protocols bgp ipv4-unicast admin-state enable
set / network-instance default protocols bgp neighbor 192.168.31.2
set / network-instance default protocols bgp neighbor 192.168.31.2 peer-group eBGP-underlay
set / network-instance default protocols bgp neighbor 192.168.32.2
set / network-instance default protocols bgp neighbor 192.168.32.2 peer-group eBGP-underlay

# iBGP neighbor config
set / network-instance default protocols bgp group iBGP-overlay
set / network-instance default protocols bgp group iBGP-overlay export-policy all
set / network-instance default protocols bgp group iBGP-overlay import-policy all
set / network-instance default protocols bgp group iBGP-overlay peer-as 100
set / network-instance default protocols bgp group iBGP-overlay ipv4-unicast
set / network-instance default protocols bgp group iBGP-overlay ipv4-unicast admin-state disable
set / network-instance default protocols bgp ipv4-unicast multipath
set / network-instance default protocols bgp ipv4-unicast multipath max-paths-level-1 4
set / network-instance default protocols bgp ipv4-unicast multipath max-paths-level-2 4
set / network-instance default protocols bgp group iBGP-overlay evpn
set / network-instance default protocols bgp group iBGP-overlay evpn admin-state enable
set / network-instance default protocols bgp group iBGP-overlay local-as 100
set / network-instance default protocols bgp group iBGP-overlay timers
set / network-instance default protocols bgp group iBGP-overlay timers minimum-advertisement-interval 1

set / network-instance default protocols bgp neighbor 10.0.1.1
set / network-instance default protocols bgp neighbor 10.0.1.1 peer-group iBGP-overlay
set / network-instance default protocols bgp neighbor 10.0.1.1 transport
set / network-instance default protocols bgp neighbor 10.0.1.1 transport local-address 10.0.0.3

set / network-instance default protocols bgp neighbor 10.0.1.2
set / network-instance default protocols bgp neighbor 10.0.1.2 peer-group iBGP-overlay
set / network-instance default protocols bgp neighbor 10.0.1.2 transport
set / network-instance default protocols bgp neighbor 10.0.1.2 transport local-address 10.0.0.3

# tunnel interface
set / tunnel-interface vxlan1
set / tunnel-interface vxlan1 vxlan-interface 1
set / tunnel-interface vxlan1 vxlan-interface 1 type bridged
set / tunnel-interface vxlan1 vxlan-interface 1 ingress
set / tunnel-interface vxlan1 vxlan-interface 1 ingress vni 1

# mac vrf
set / network-instance vrf-1
set / network-instance vrf-1 type mac-vrf
set / network-instance vrf-1 admin-state enable
set / network-instance vrf-1 interface lag1.0
set / network-instance vrf-1 vxlan-interface vxlan1.1

set / network-instance vrf-1 protocols
set / network-instance vrf-1 protocols bgp-evpn
set / network-instance vrf-1 protocols bgp-evpn bgp-instance 1
set / network-instance vrf-1 protocols bgp-evpn bgp-instance 1 admin-state enable
set / network-instance vrf-1 protocols bgp-evpn bgp-instance 1 vxlan-interface vxlan1.1
set / network-instance vrf-1 protocols bgp-evpn bgp-instance 1 evi 1
set / network-instance vrf-1 protocols bgp-evpn bgp-instance 1 ecmp 2
set / network-instance vrf-1 protocols bgp-vpn
set / network-instance vrf-1 protocols bgp-vpn bgp-instance 1
set / network-instance vrf-1 protocols bgp-vpn bgp-instance 1 route-target
set / network-instance vrf-1 protocols bgp-vpn bgp-instance 1 route-target export-rt target:100:1
set / network-instance vrf-1 protocols bgp-vpn bgp-instance 1 route-target import-rt target:100:1

# ESI
set / system network-instance protocols
set / system network-instance protocols evpn
set / system network-instance protocols evpn ethernet-segments
set / system network-instance protocols evpn ethernet-segments bgp-instance 1
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment ES-1
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment ES-1 admin-state enable
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment ES-1 esi 02:02:02:02:02:02:02:02:02:02
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment ES-1 multi-homing-mode all-active
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment ES-1 interface lag1
set / system network-instance protocols bgp-vpn
set / system network-instance protocols bgp-vpn bgp-instance 1