/* @codingStandardsIgnoreFile */

@font-face {
    font-family: 'NokiaPureHeadline';
    font-weight: normal;
    font-style: normal;
    src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_regular.eot');
    src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
  
  @font-face {
    font-family: 'NokiaPureHeadline';
    font-weight: 300;
    font-style: normal;
    src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_light.eot'); /* IE9 Compat Modes */
    src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_light.woff2') format('woff2'), /* Super Modern Browsers */
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_light.woff') format('woff'), /* Pretty Modern Browsers */
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_light.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
  
  @font-face {
    font-family: 'NokiaPureHeadline';
    font-weight: 700;
    font-style: normal;
    src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_bold.eot'); /* IE9 Compat Modes */
    src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_bold.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
  
  @font-face {
    font-family: 'NokiaPureHeadlineLight';
    font-weight: normal;
    font-style: normal;
    src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_light.eot'); /* IE9 Compat Modes */
    src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_light.woff2') format('woff2'), /* Super Modern Browsers */
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_light.woff') format('woff'), /* Pretty Modern Browsers */
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_light.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
  
  @font-face {
    font-family: 'NokiaPureHeadlineUltralight';
    font-weight: normal;
    font-style: normal;
    src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_ultralight.eot'); /* IE9 Compat Modes */
    src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_ultralight.woff2') format('woff2'), /* Super Modern Browsers */
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_ultralight.woff') format('woff'), /* Pretty Modern Browsers */
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_ultralight.ttf') format('truetype'), /* Safari, Android, iOS */
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_ultralight.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
  
  @font-face {
    font-family: 'NokiaPureText';
    font-weight: normal;
    font-style: normal;
    src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextreg.eot'); /* IE9 Compat Modes */
    src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextreg.woff2') format('woff2'), /* Super Modern Browsers */
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextreg.woff') format('woff'), /* Pretty Modern Browsers */
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextreg.ttf') format('truetype'), /* Safari, Android, iOS */
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextreg.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
  
  @font-face {
    font-family: 'NokiaPureText';
    font-weight: 300;
    font-style: normal;
    src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextlight.eot'); /* IE9 Compat Modes */
    src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextlight.woff2') format('woff2'), /* Super Modern Browsers */
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextlight.woff') format('woff'), /* Pretty Modern Browsers */
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextlight.ttf') format('truetype'), /* Safari, Android, iOS */
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextlight.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
  
  @font-face {
    font-family: 'NokiaPureText';
    font-weight: 700;
    font-style: normal;
    src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextbold.eot'); /* IE9 Compat Modes */
    src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextbold.woff2') format('woff2'), /* Super Modern Browsers */
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextbold.woff') format('woff'), /* Pretty Modern Browsers */
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextbold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextbold.svg#svgFontName') format('svg'); /* Legacy iOS */
  }