/* @font-face {
  font-family: 'NokiaPureHeadline';
  font-weight: normal;
  font-style: normal;
  src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_regular.eot');
  src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_regular.woff2') format('woff2'),
  url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_regular.woff') format('woff'),
  url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_regular.ttf') format('truetype'),
  url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_regular.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'NokiaPureHeadline';
  font-weight: 300;
  font-style: normal;
  src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_light.eot');
  src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_light.woff2') format('woff2'),
  url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_light.woff') format('woff'),
  url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_light.ttf') format('truetype'),
  url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_light.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'NokiaPureHeadline';
  font-weight: 700;
  font-style: normal;
  src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_bold.eot'); 
  src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_bold.woff2') format('woff2'),
  url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_bold.woff') format('woff'),
  url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_bold.ttf') format('truetype'),
  url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_bold.svg#svgFontName') format('svg');
} */

@font-face {
  font-family: 'NokiaPureHeadlineLight';
  font-weight: normal;
  font-style: normal;
  src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_light.eot'); 
  src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_light.woff2') format('woff2'),
  url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_light.woff') format('woff'),
  url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_light.ttf') format('truetype'),
  url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_light.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'NokiaPureHeadlineUltralight';
  font-weight: normal;
  font-style: normal;
  src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_ultralight.eot'); 
  src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_ultralight.woff2') format('woff2'),
  url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_ultralight.woff') format('woff'),
  url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_ultralight.ttf') format('truetype'),
  url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapureheadline_ultralight.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'NokiaPureText';
  font-weight: normal;
  font-style: normal;
  src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextreg.eot'); 
  src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextreg.woff2') format('woff2'),
  url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextreg.woff') format('woff'),
  url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextreg.ttf') format('truetype'),
  url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextreg.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'NokiaPureText';
  font-weight: 300;
  font-style: normal;
  src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextlight.eot'); 
  src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextlight.woff2') format('woff2'),
  url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextlight.woff') format('woff'),
  url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextlight.ttf') format('truetype'),
  url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextlight.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'NokiaPureText';
  font-weight: 700;
  font-style: normal;
  src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextbold.eot'); 
  src: url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextbold.woff2') format('woff2'),
  url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextbold.woff') format('woff'),
  url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextbold.ttf') format('truetype'),
  url('https://www.nokia.com/themes/custom/onenokia_base_theme/fonts/nokia/nokiapuretextbold.svg#svgFontName') format('svg');
}