@font-face {
  font-family: 'NokiaPureHeadlineLight';
  src: url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureHeadline_Lt.eot');
  /* IE9 Compat Modes */
  src: url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureHeadline_Lt.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureHeadline_Lt.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureHeadline_Lt.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureHeadline_Lt.svg#svgFontName') format('svg');
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NokiaPureHeadlineUltralight';
  src: url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureHeadline_ULt.eot');
  /* IE9 Compat Modes */
  src: url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureHeadline_ULt.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureHeadline_ULt.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureHeadline_ULt.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureHeadline_ULt.svg#svgFontName') format('svg');
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NokiaPureText';
  src: url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureText_Lt.eot');
  /* IE9 Compat Modes */
  src: url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureText_Lt.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureText_Lt.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureText_Lt.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureText_Lt.svg#svgFontName') format('svg');
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'NokiaPureText';
  src: url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureText_Bd.eot');
  /* IE9 Compat Modes */
  src: url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureText_Bd.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureText_Bd.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureText_Bd.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureText_Bd.svg#svgFontName') format('svg');
  /* Legacy iOS */
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NokiaPureText';
  src: url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureText_Bd.eot');
  /* IE9 Compat Modes */
  src: url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureText_Bd.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureText_Bd.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureText_Bd.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureText_Bd.svg#svgFontName') format('svg');
  /* Legacy iOS */
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}