:root {
  --md-primary-fg-color: #124191;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark: #90030C;

  --md-accent-fg-color: #00c9ff;

  --nokia-heading-font-color: #124191;

  /* get started home button */
  --nokia-get-started-btn-color: #124191;
  --nokia-get-started-text-color: #ffffff;
  --nokia-get-started-hover-text-color: #ffffff;
  --nokia-get-started-hover-btn-color: #00c9ff;
}

[data-md-color-scheme="default"] {
  --md-primary-fg-color: #124191;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark: #90030C;

  --md-accent-fg-color: #00c9ff;

  --nokia-heading-font-color: #124191;

  /* get started home button */
  --nokia-get-started-btn-color: #124191;
  --nokia-get-started-text-color: #ffffff;
  --nokia-get-started-hover-text-color: #ffffff;
  --nokia-get-started-hover-btn-color: #00c9ff;
}

[data-md-color-scheme="slate"] {
  --md-typeset-a-color: #00c9ff;
  --md-accent-fg-color: #ff3154;

  /* --nokia-heading-font-color: #bec8d2; this is a greyish version for comparison */
  --nokia-heading-font-color: #00c9ff;
  --nokia-get-started-btn-color: #bec8d2;
  --nokia-get-started-text-color: #124191;
  --nokia-get-started-hover-text-color: #ffffff;
  --nokia-get-started-hover-btn-color: #124191;
}

body,
input {
  font-weight: 300;
}

/* colors for headings */
.md-typeset h1,
h2,
h3,
h4 {
  font-family: NokiaPureHeadlineLight;
  color: var(--nokia-heading-font-color)
}

/* setting the code font size a bit smaller */
.md-typeset code {
  font-size: .8em;
}

@media screen and (max-width: 76.1875em) {
  .md-header__button.md-icon[for=__drawer] {
    order: -1
  }

  .md-header__button.md-logo {
    display: block;
  }
}

.md-container.secondary-section {
  border: 0;
}

/* need to have decide if it is better or not
  making the content width bigger
.md-grid {
  max-width: 1440px;
} */

/* Table styling */
.md-typeset table:not([class]) th {
  background-color: #124191;
}

th {
  color: #FFFFFF !important;
}